<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="SmsSenderId" value="CHENDR"/>
    <add key="PudhukadaiClientUrl" value="http://www.tigernest.co.in/api/RIP"/>
    <add key="EkoClientUrl" value="http://www.tigernest.co.in/api/Eko/MoneyTransfer"/>
    <add key="TigerAuthId" value="9025259000"/>
    <add key="TigerAuthKey" value="C292A726-4290-440F-AE01-053DB7BA8022"/>
    <add key="EkoAPIBaseUrl" value="https://api.eko.co.in:25002/ekoicici/"/>
    <add key="EkoDeveloperKey" value="31b689d2fe2d8547040ff8a1f0c95c67"/>
    <add key="EkoInitiatorId" value="9543178787"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Easyearn" connectionString="Server=103.26.99.80; Initial Catalog=EAZYEARNNEW;user id=eazy23341211;password=Avail45212;pooling=true;Max Pool Size=2500;" />-->
    <add name="SeenuSports" connectionString="Data Source=AVAIL26;Initial Catalog=SeenuSportsAcademy; Integrated Security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>